nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f2f2;
  overflow: hidden;
  padding: 0.5rem; /* Add padding for the nav itself */
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.navbar-left a {
  margin-right: 1.5rem; /* Add spacing between left-side links */
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

.navbar-right span {
  margin-right: 1rem; /* Space between the user's name and logout button */
}

.navbar-right button {
  margin-left: 1rem; /* Add spacing to the logout button */
}

.navbar-right form input[type="text"],
.navbar-right form button {
  margin-left: 1rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container a,
.login-container button {
  margin-left: 1rem;
  color: white;
  background-color: #4caf50;
  border: none;
  padding: 0.5;
}

.home,
.about {
  background-color: rgb(249, 249, 249);
}

.home {
  background-color: rgb(249, 249, 249);
  margin-right: 1rem;
}

.about {
  background-color: rgb(249, 249, 249);
  margin-right: 1rem;
}
